{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block page_title %}{% trans "Morse Code" %}{% endblock %}
{% block main_content %}
<form action="GET" role="form">
    <div class="form-group">
        <label for="id_data_in">{% trans "Input" %}</label>
        <textarea class="form-control" id="id_data_in" name="data_in"></textarea>
    </div>
    <div class="form-group">
        <label for="id_data_out">{% trans "Output" %}</label>
        <textarea class="form-control" id="id_data_out" name="data_out"></textarea>
    </div>
    <button class="btn btn-success btn-submit">{% trans "Translate" %}</button>
</form>
{% endblock %}

{% block extra_js %}
<script src="{% static 'main/js/morse.js' %}"></script>
<script type="text/javascript">
$(function() {
    $('.btn-submit').click(function(e) {
        e.preventDefault();
        var result = morse.translate($('#id_data_in').val())
        $('#id_data_out').text(result);
    });
})
</script>
{% endblock %}
